<% @takeaway_pizzas.each do |takeaway_pizza| %>
    <a href="/takeaway_pizzas/<%= takeaway_pizza.id %>"><%= takeaway_pizza.name %></a> - <%= takeaway_pizza.address %>
    <br>
    <%= takeaway_pizza.reviews.count%> reviews.
    <br><br>
<% end %>


<h5>Write a new Takeaway Pizza review <a href="/reviews/new">here</a></h5>

<p><a href="/logout">Logout</a></p>