<h3>Log in now to read and create new Takeaway Pizza reviews.</h3>
<br>
<form method="post" action="/login">
    <label for="username">Username: </label>
    <input type="text" name="username">
    <br>
    <label for="email">Email: </label>
    <input type="text" name="email">
    <br>
    <label for="password">Password: </label>
    <input type="text" name="password">
    <br><br>
    <input type="submit" value="Log in">
</form>
<br>
<p>Not got an account yet? <a href="/signup">Sign up</a></p>