<h3>Hello <%= @user.username %>. An exciting world of Takeaway Pizza awaits you!</h3>
<br><br>
<% if @user.reviews.empty? %>
    <p>Ready to write your first ever Takeaway Pizza Review? Click<a href="/reviews/new">here!</a></p>
<% else %>
    <h4>Here are your previous Takeaway Pizza reviews:</h4>
    <br>
    <% @user.reviews.sort{|a,b| b.created_at <=> a.created_at}.each do |review| %>
        <strong><%= review.takeaway_pizza.name %></strong> <small><%= review.created_at.to_s.split(" ")[0].split("-").reverse.join("-") %></small>
        
        <small><a href="/reviews/<%= review.id %>">View</a></small>
        <br><br>
    <% end %>
    <br><br>
    <p>Ready to write a brand new Takeaway Pizza Review? Click <a href="/reviews/new">here!</a></p>
<% end %>

<p>Read other users' tasty Takeaway Pizza Reviews <a href="/reviews">here!</a></p>
