<h3>Sign up now to read and create new Takeaway Pizza Reviews.</h3>
<br>
<form method="post" action="/signup">
    <label for="username">Username: </label>
    <input type="text" name="username">
    <br>
    <label for="email">Email: </label>
    <input type="text" name="email">
    <br>
    <label for="password">Password: </label>
    <input type="text" name="password">
    <br><br>
    <input type="submit" value="Create account">
</form>
<br>
<p>Just remembered you already have an account? <a href="login">Log in</a></p>