<% @reviews.each do |review| %>
    <%= review.takeaway_pizza.name%> <%= review.created_at %>
    <br>
    <%= review.content %>
    <br><br>
<% end %>


<h5>Write a new Takeaway Pizza review <a href="/reviews/new">here</a></h5>

<p><a href="/logout">Logout</a></p>