<form method="post" action="/reviews">
    Either select one of these exisiting Takeaway Pizzas to write about,
    <br><br>
    <% @takeaway_pizzas.each do |takeaway_pizza| %>
        <input type="radio" name="review[takeaway_pizza_id]" value="<%= takeaway_pizza.id %>">
        <%= takeaway_pizza.name %> (<%= takeaway_pizza.address %>)
        <br>
    <% end %>
    <br>
    Or give us the details of somewhere completely new.
    <br><br>
    <label for="takeaway_pizza[name]">Name: </label>
    <input type="text" name="takeaway_pizza[name]">
    <label for="takeaway_pizza[address]">Address: </label>
    <input type="text" name="takeaway_pizza[address]">
    <br><br><br>
    <label for="review[content]"><strong>Now write your new Takeaway Pizza Review: </strong></label>
    <input type="text" name="review[content]">
    <input type="submit" value="Create review">
</form>
<br>